@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #1d9ad2;
    --secondary: #045880;
    --tertiary: #e8f5fa;
    --base-text: #374151;
    --subtle-text: #6b7280;
    --border-color: #d1d5db;
    --background: #ffffff;
    --foreground: #000000;
  }
}

@layer utilities {
  .bg-primary {
    background-color: var(--primary);
  }
  .bg-secondary {
    background-color: var(--secondary);
  }
  .bg-tertiary {
    background-color: var(--tertiary);
  }

  .hover\:bg-primary:hover {
    background-color: var(--primary);
  }
  .hover\:bg-secondary:hover {
    background-color: var(--secondary);
  }
  .hover\:bg-tertiary:hover {
    background-color: var(--tertiary);
  }

  .text-primary {
    color: var(--primary);
  }
  .text-secondary {
    color: var(--secondary);
  }
  .text-tertiary {
    color: var(--tertiary);
  }
  .text-base-text {
    color: var(--base-text);
  }
  .text-subtle-text {
    color: var(--subtle-text);
  }

  .border-primary {
    border-color: var(--primary);
  }
  .border-secondary {
    border-color: var(--secondary);
  }
  .border-border-color {
    border-color: var(--border-color);
  }

  .focus\:ring-primary:focus {
    --tw-ring-opacity: 1;
    --tw-ring-color: var(--primary);
    box-shadow: var(--tw-ring-inset) 0 0 0
      calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
